section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-self: center;
  justify-items: center;
  min-height: 400px;
}

.h1{
  grid-column: span 5;
  align-self: end;
  text-align: center;
}


.s01 img{
  grid-column: 2 / 4;
}
.s02 img{
  grid-column: 3 / 5;
}
.s03 img{
  grid-column: 1 / 2;
}
.s04 img{
  grid-column: 2 / 4;
}
.s05 img{
  grid-column: 4 / 5;
}
.s06 img{
  grid-column: 3 / 4;
}
.s07 img{
  grid-column: 3 / 5;
}
.s08 img{
  grid-column: 2 / 4;
}
.s09 img{
  grid-column: 3 / 5;
}
.s10 img{
  grid-column: 1 / 2;
}
.s11 img{
  grid-column: 2 / 4;
}
.s12 img{
  grid-column: 4 / 5;
}


