html, body {
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
}


img.norwood{
  /*width: 300px;*/
  width: 100%;
  grid-column: span 3;

}


.h1{
  grid-column: span 5;
  align-self: end;
}

img.power{
  width: 400px;
}

img.control{
  /*width: 300px;*/
  width: 100%;
  /*column-span: 2;*/
  /*grid-column: span 2;*/
  /*grid-column-start: 3;*/
  grid-column: 3 / 5;

}


img.stretch{
  /*width: 200px;*/
  width: 100%;
  grid-column-start: 4;
}

img.savc{
  width: 100%;
  /*grid-column-start: 3;*/
  grid-column: 2 / 4;

}


img.photostacks{
  /*width: 200px;*/
  grid-column: 1 / 5;

  width: 100%;
}


img.dbm{
  /*width: 200px;*/
  grid-column-start: 2;
  width: 100%;
}


img.wim{
  width: 100%;
  grid-column: 3 / 5;
  margin-top: -20px;
}

.wordmark {
  pointer-events: none;
  perspective: 1000;
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px 20px;
}
.wordmark img {
  width: 100%;
}

header.wordmark.white {
  z-index: 9990;
  opacity: 0.1;
}

footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
}

footer small {
  position: fixed;
  bottom: 0;
  left: 0;
  color: black;
  z-index: 9999;
  padding: 16px 20px;
  text-transform: uppercase;
}

footer small.copyright {
  position: fixed;
  bottom: 0;
  right: 0;
  color: black;
  z-index: 9999;
  padding: 16px 20px;
  text-transform: uppercase;
}

.loop {
  position: relative;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /*overflow: none;*/
}

section {
  position: relative;
  text-align: center;
  outline: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  align-self: center;
  justify-items: center;
  min-height: 400px;
}

.s1{
  min-height: 300px;
}


section.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999999;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  transition: all 200ms ease;
  top: 0;
  left: 0;
}

.info {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  z-index: 99999999999;
  transition: all 200ms ease;
  border: 3px solid white;
}
.info:hover {
  cursor: pointer;
}

.screen {
  mix-blend-mode: screen;
}
.multiply {
  mix-blend-mode: multiply;
}