*, ::before, ::after {
    box-sizing:   border-box;
    margin:       0;
    padding:      0;
}

body {
  padding:        0;
  margin:         0;
}

small{
  margin:         0;
  padding:        0;
}



.page-1{
  height: 100vh;
  position: relative;
  width: 100wh;
}

.page-2{
  background-color: #181818;
  height: 100vh;
  width: 100wh;
}