@keyframes gradients {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}


// #c0e0db
// #f3e8d4
// #ce5e29
// #fbbb11
// #87926d
// #e9e2cf
// #2440A3



.gradient {
  align-items: center;
  background-image: linear-gradient(to right, #7fa9b3, #83b6bf, #87b2bc, #7ab1bb);
  background-size: 600%;
  background-position: 0 0;
  display: flex;
  height: 170px;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
}

.mask1 {
  // mask-image: url("../brand/logo-black-gt.svg");
  mask-image: url("../brand/logo-black-gt.png");

  mask-repeat: no-repeat;
  mask-size: contain;
  margin: 10px;
}