html {
  height: 100%;
}

body {
  height: 100%;
}

.page{
  position:       relative;
  height:         100vh;
  width:          100wh;
}

.page-1{
}

.page-2,
.page-3{
  background:     #181818;
  color:          #ccc;
}

.page-3{
  border-top:     1px solid rgba(255,255,255,0.1);
}

.page-4{
  border-top:     1px solid rgba(255,255,255,0.1);
    background:     #181838;
  color:          #ccc;
}


.grid-main{
  display:          flex;
  flex-direction:   column;
  flex-flow:        column nowrap;
  flex-wrap:        nowrap;
  justify-content:  space-between;
  height:           100vh;
  width:            100vw;

  position:         absolute;
  top:              0;
  left:             0;
}

.wordmark {
  width:            calc(100vw - 30px);

  margin-top:       10px;
  margin-right:     10px;
  margin-bottom:    0;
  margin-left:      15px;

  }

.hero{
  width:            calc(100vw - 30px);
  margin-top:       8px;
  margin-right:     10px;
  margin-bottom:    15px;
  margin-left:      15px;
  height:           100%;

  overflow: hidden;
}

.hero .sky{
  height: 100%;
}

.links {
  display:          flex;
  justify-content:  space-between;
  width:            calc(100vw - 30px);
  margin-top:       5px;
  margin-right:     10px;
  margin-bottom:    20px;
  margin-left:      15px;
   gap: 10px 20px;
}

.links.top {
  margin-top:       10px;
}



// footer.footer small strong{
//   font-weight: 600;
//   font-size: 15px;
// }

// footer.footer small + small{
//   margin-left: 15px;
// }