.grid-main{
  display:          flex;
  flex-direction:   column;
  flex-flow:        column nowrap;
  flex-wrap:        nowrap;
  justify-content:  space-between;
  height:           100vh;
  width:            100vw;
  position:         absolute;
  top:              0;
  left:             0;
}

.wordmark {
  width:            calc(100vw - 30px);
  margin-top:       10px;
  margin-right:     10px;
  margin-bottom:    0;
  margin-left:      15px;
  }

.hero{
  width:            calc(100vw - 30px);
  margin-top:       8px;
  margin-right:     10px;
  margin-bottom:    15px;
  margin-left:      15px;
  height:           100%;
  overflow:         hidden;
}

.hero .sky{
  height:           100%;
}

.links {
  width:            calc(100vw - 30px);
  margin-top:       5px;
  margin-right:     15px;
  margin-bottom:    15px;
  margin-left:      15px;
}


