.page{
  display:          flex;
  flex-direction:   column;
  flex-flow:        column nowrap;
  flex-wrap:        nowrap;
  justify-content:  space-between;
  height:           100vh;
  width:            100vw;
  position:         relative;
  top:              0;
  left:             0;
  overflow: hidden;
}

.page.intro{
    background: #111;
    color: #aaa; 
}

.page.hivstory{
    background: #4046F5;
    color: #f3f3f3; 
}

.page.frendsbury{
    background: #7798be;
    // background-image: url("../img/frendsbury-03.png");
    // background-size: cover;
}
