@font-face {
  font-family: 'GT-Pressura-1';
  src: url("../fonts/GT-Pressura-Extended-Light-Trial.woff2") format('woff2');
}

body {
  font-family:          "Inter", serif;
  font-optical-sizing:  auto;
  font-style:           normal;
}

small{
  font-size:            15px;
}

.caps {
  text-transform:       uppercase;
}

.flat{
  line-height:          0;
}
